.center {
	margin: auto;
	width: 50%;
	padding: 5px;
	text-align: center;
}

.wrapper {
	margin-top: 10px;
	margin-bottom: 100px;
}

.form-signin {
	max-width: 380px;
	padding: 5px 35px 45px;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-signin .form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	/* Create 10 columns with equal width */
	grid-template-rows: repeat(10, 1fr);
	/* Create 10 rows with equal height */
	width: 600px;
	/* Adjust the width and height of the container to fit the grid */
	height: 600px;
	border: 1px solid #000;
	/* Add a border around the entire grid */
	background-position: center;
	flex-direction: row;
	background-image: url(../static/images/background_normal.png);
}

.grid-item {
	border: 1px solid #000000;
	/* Add a border to each grid cell */
	text-align: center;
	position: relative;
}

.grid-container::before,
.grid-container::after,
.grid-item::before,
.grid-item::after {
	position: absolute;
	width: 100%;
	height: 100%;
	border: 1px solid #000000;
	/* Add a border to each grid cell */
}

.grid-item img {
	max-width: 100%;
	max-height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

.chat-container {
	width: 400px;
	height: 500px;
	border: 1px solid #ccc;
	padding: 10px;
	display: flex;
	flex-direction: column;
	margin: auto;
}

.message-list {
	flex-grow: 1;
	overflow-y: auto;
	display: flex; /* Add this property */
	flex-direction: column; /* Add this property */

}

.message {
	display: flex;
	align-items: flex-start;
	margin-bottom: 10px;
}

.received .message-content {
	background-color: #f2f2f2;
	border-radius: 5px;
	padding: 8px;
}

.sent{
	align-self: flex-end;
}

.sent .message-content {
	background-color: #dcf8c6;
	border-radius: 5px;
	padding: 8px;
}

.message-time {
	font-size: 0.8em;
	color: #999;
}

.input-area {
	display: flex;
	align-items: center;
	margin-top: 10px;
}

.input-area input {
	flex-grow: 1;
	padding: 8px;
	border-radius: 5px;
	border: 1px solid #ccc;
}

.input-area button {
	margin-left: 10px;
	padding: 8px 12px;
	background-color: #4CAF50;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.input-area button:hover {
	background-color: #45a049;
}
